* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  color: #fff;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #d1a954;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header-wrap {
  width: 100%;
  position: absolute;
}

.navbar {
  padding: 51px 0;
}

.navbar__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.navbar__menu li {
  margin-right: 63px;
}

.navbar a {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navbar__phone a {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  border-bottom: 2px solid #d1a954;
}

.navbar.navbar-active {
  position: fixed;
  background-color: #333333;
  width: 1000px;
  padding: 25px 0;
}

.contactbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333333bf;
  height: 1045px;
  padding-left: 64px;
  padding-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap column;
          flex-flow: nowrap column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactbar__info {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 40px;
}

.contactbar span {
  width: 3px;
  height: 80px;
  background-color: #c4c4c4;
  margin-bottom: 40px;
}

.contactbar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactbar__social a {
  margin-bottom: 30px;
}

.contactbar__social a:last-child {
  margin-bottom: 86px;
}

.poster {
  padding-top: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poster-wrap {
  width: 100%;
  min-height: 1045px;
  background: url("../img/bg-top.png") top center/cover no-repeat;
}

.poster__description {
  width: 540px;
}

.poster__description h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.poster__description p {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 50px;
}

.poster__description button {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #d1a954;
  height: 50px;
  padding: 0 47px;
}

.poster__show {
  width: 370px;
}